<ng-container *ngTemplateOutlet="form"></ng-container>
<ng-container *ngTemplateOutlet="calender"></ng-container>

<ng-template #form>
  <div style="display: flex; align-items: center; margin-top: 500px; margin-bottom: 50px;">
    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input [(ngModel)]="SelectedDate" matInput [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-flat-button [disabled]="SelectedDate === null" (click)="onSubmit()" style="margin-left: 20px;">Submit</button>
  </div>
</ng-template>

<ng-template #calender>
  <div class="calendar dark">
    <div class="calendar_inner">
      <div class="calendar_controls">
        <div class="calendar_headings" #calendar_headings id="calendar_headings">
          <span class="fa-solid fa-arrow-left" (click)="prevMonth()" id="prev">
            < </span>
              <div #month_year id="month_year"></div>
              <span class="fa-solid fa-arrow-right" (click)="nextMonth()" id="next">
                >
              </span>
        </div>
        <div class="current_datetime">
          <p class="daytxt" style="color: #fff;">Today</p>
          <p class="datetxt" #datetxt id="datetxt">Tue, 10, Oct 2023</p>
        </div>
        <div class="days_date">
          <div class="days">
            <div>Sun</div>
            <div>Mon</div>
            <div>Tue</div>
            <div>Wed</div>
            <div>Thu</div>
            <div>Fri</div>
            <div>Sat</div>
          </div>
          <div cdkDropListGroup class="dates" #dates id="dates">
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
            <div class="active">5</div>
            <div>6</div>
            <div>7</div>
            <div>8</div>
            <div>9</div>
            <div>10</div>
            <div>11</div>
            <div>12</div>
            <div>13</div>
            <div>14</div>
            <div>15</div>
            <div>16</div>
            <div>17</div>
            <div>
              18
            </div>
            <div>19</div>
            <div>20</div>
            <div>21</div>
            <div>22</div>
            <div>23</div>
            <div>24</div>
            <div>25</div>
            <div class="dummy">26</div>
            <div class="dummy">27</div>
            <div class="dummy">28</div>
            <div class="dummy">29</div>
            <div class="dummy">30</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div #appointment class='appointment' cdkDrag style='padding: 0.5rem;margin: 0.2rem;background-color: #000;border-radius: 5px;color: #fff;'>✅booked</div>
</ng-template>
